@model DellyShop.Domain.ViewModels.ProductImageCreateOrEditVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel panel-body" style="min-height:256px">

    @*<div class="col-md-3">

            @{ Html.RenderAction("SideMenu", "Test");}

        </div>*@

    <div class="col-md-9">

        <h2>Product add image for Name = @Model.ProductName </h2>

    </div>
    <div class="col-md-9">

        <input type="hidden" class="productId" name="productId" value="@Model.ProductId" />
        <input type="hidden" class="ImageFileOrder" name="ImageFileOrder" value="@Model.ImageFileOrder" />
        <div class="col-md-4">
            <div class="btn btn-primary">
                <input type="file" id="imageBrowes" />
            </div>
            <hr />

            <div id="imgPreview" class="thumbnail" style="display:none">
                <img class="img-responsive delly-image" id="targetImg" />
                <div class="caption">
                    <a href="#" onclick="ClearPreview()"><i class="fas fa-trash"></i></a>
                    <span id="description"></span>
                </div>
                <a href="#" class="btn btn-default" onclick="Uploadimage()">Upload</a>
            </div>

        </div>

    </div>
    <br />
    <h2 class="text-center bg-gradient-orange">Uploaded Image </h2>
    <div class="col-md-12 thumbnail" id="uploadedImage">


    </div>


</div>

@section scripts{
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script>

            $(document).ready(function () {
                ClearPreview();

        var productId =@Model.ProductId;
                GetProductImages(productId);

                $("#imageBrowes").change(function () {

                    var File = this.files;

                    if (File && File[0]) {
                        ReadImage(File[0]);
                    }

                })

            })


            var ReadImage = function (file) {

                var reader = new FileReader;
                var image = new Image;

                reader.readAsDataURL(file);
                reader.onload = function (_file) {

                    image.src = _file.target.result;
                    image.onload = function () {

                        var height = 20;
                        var width = 20;
                        var type = file.type;
                        var size = ~~(file.size / 1024) + "KB";

                        $("#targetImg").attr('src', _file.target.result);
                        $("#description").text("Size:" + size + ", " + height + "X " + width + ", " + type + "");
                        $("#imgPreview").show();

                    }

                }

            }

            var ClearPreview = function () {
                $("#imageBrowes").val('');
                $("#description").text('');
                $("#imgPreview").hide();

            }

            var Uploadimage = function () {

                var file = $("#imageBrowes").get(0).files;
                var productId = $('.productId').val();
                var imageFileOrder = $('.ImageFileOrder').val();

                var data = new FormData;
                data.append("ImageFile", file[0]);
                data.append("ProductId", productId);
                data.append("ImageFileOrder", imageFileOrder);


                $.ajax({

                    type: "Post",
                    url: "/Image/ImageUpload",
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function (imgID) {
                        ClearPreview();

                        $("#uploadedImage").append('<div class="col-md-3"><img src="/Image/ImageRetrieve?imgID=' + imgID + '" class="img-responsive delly-image thumbnail"/>&nbsp&nbsp<a href="#" onclick="DeleteImage(' + imgID +')"><i class="fas fa-trash text-danger">Delete</i></a></div>');
                        //$("#uploadedImage").append('')


                        //$("#uploadedImage").append('<img src="' + response + '" class="img-responsive thumbnail"/>');
                        //$('.ImageFileOrder').val(parseInt( imageFileOrder )+ 1);
                    }

                })
            }



        function GetProductImages(productId) {

            //var data = new FormData;
            //data.append("productId", productId);


            $.ajax({

                type: "Get",
                url: "/Image/GetProductImage/"+"?productId=" + productId,
                contentType: false,
                processData: false,
                dataType: "json"
            }).done(function (data) {
                console.log(data.entity);
                if (data.entity != 0) {

                    $.each(data.entity, function (index, value) {
                        console.log(data.entity);

                        var imgID = value.id;
                        console.log(imgID);

                        $("#uploadedImage").append('<div class="col-md-3"><img src="/Image/ImageRetrieve?imgID=' + imgID + '" class="img-responsive delly-image thumbnail"/>&nbsp&nbsp<a href="#" onclick="DeleteImage(' + imgID + ')"><i class="fas fa-trash text-danger">Delete</i></a></div>');


                    })



                }

            }).fail(function () {
                bootbox.alert("Error encountered while taking product images");
            })


        };

        function DeleteImage(imgID) {

            $.ajax({

                type: "Get",
                url: "/Image/DeleteImage/" + "?imgID=" + imgID,
                contentType: false,
                processData: false,
                dataType: "json"
            }).done(function (data) {
                
                alert("Image is Deleted.");
                location.reload();

            }).fail(function () {

                alert("Error encountered while deleting product image.");
            })


        }


    </script>
}